html{
    font-size: 9px;display: flex;
    align-items: center;
    justify-content: center;

}

body{
    max-width: 1200px;
    height: 100vh;
    background: linear-gradient(217deg, rgba(255,0,0,.3), rgba(0,0,255,.3));
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.clown{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.hair{
    width: 70rem;
    height: auto;
    margin-bottom: -31rem;
    z-index: 1;
}

.face{
    margin:auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 40rem;
    border: rgb(49, 44, 44) solid 0.1rem;
    align-items: center;
    border-radius:0 0 5em 5em;
}


.eyebrows{
    display: flex;
    flex-direction: row;
    width: 37rem;
    font-size: 2rem;
    justify-content: space-around;
    color: rgb(58, 56, 56);
    font-weight: bold;
    z-index: 1;
}


.eyes{
    display: flex;
    flex-direction: row;
    width: 37rem;
    justify-content: space-around;
}

.eye{
    background-color: white;
    color: white;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: rgb(49, 44, 44) solid 0.1rem;
    
    display: flex;
    justify-content: center;
    align-items: center;   
}

.eye-bg{
    text-transform: uppercase;
    -webkit-text-stroke: 0.05rem black;
    font-size: 1.8rem;
    letter-spacing: 0.35rem;
}


.eye-t{
    text-transform: uppercase;
    -webkit-text-stroke: 0.05rem black;
    font-size: 2rem;
    letter-spacing: 0.35rem;
}

.nose{
    display: flex;
    flex-direction: row;
    width: 37rem;
    justify-content: center;
    z-index: 1;
}

.noses{
    border: none;   
    width: 2rem;
    height: 2rem;
    background-color: white;
}

.mouth{
    width: 30rem;
    height: 7rem;
    border-radius: 2rem;
    border: rgb(49, 44, 44) solid 0.1rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.save, .clear{
    width: 7rem;
    height: 3rem;
    margin-bottom: 1rem;
    font-size: 2rem;
   background-color: transparent;
    border-radius: 1.5rem;
    border: violet 0.15rem solid;
    color:violet
}


.paletas-guardadas{
    margin: 3rem;
    width: 40rem;
    background-color: white;
    padding: 1rem;
    border: grey 0.1rem solid;
    border-radius:5rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    color: gray;
}

.paletas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}
.paleta{
   width: 10rem;
   height: 3rem;
   font-size: 2rem;
   padding-top: 0.75rem;
   text-align: center;
   vertical-align: middle;
   margin: 0.5rem;
   border-radius: 0.3rem;
}

.paleta:hover{
    box-shadow: -1.5px -1.5px 2px gray;
}


@media (max-width: 600px){

    html{
        font-size: 6px;
       
    }

    body{
        flex-direction: column;
        height: 100vh;
        justify-content:end ;
    }

    .hair{
        width: 65rem;
    }

} 




